body {
    margin: 0;
    font-family: STKaiti, KaiTi, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
    font-weight: 100;
}

#main .today {
    margin-top: 14px;
}

#main {
    height: 100%;
    min-height: 100%;
    background-image: url(images/ying.png);
    background-repeat: no-repeat;
}

#main .inner {
    background-image: url(images/bg.png);
    border: 1px solid #34495E;
    border-top: 5px solid #000;
    padding: 0px 14px 14px 14px;
    color: #60281E;
    min-height: 100%;
    padding-bottom: 0!important;
}

.topwrapper {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin-left: -14px;
    margin-right: -14px;
}

#skin-wrapper, #social-links-wrapper {
    text-align: center;
}

#site-wrapper, #social-links-wrapper {
    text-align: center;
}

#site-wrapper .buttons .button {
    border-radius: 0!important;
}

#site-wrapper .description {
    margin-bottom: 30px;
    line-height: 30px;
}

#triggers-wrapper {
    text-align: right;
    margin-right: -14px;
}

#social-links-wrapper #wx {
    text-align: center;
}

#social-links-wrapper #wx img {
    margin-top: 20px;
    height: 240px;
}

#donation-wrapper .buttons .button {
    width: 120px;
    border-radius: 0!important;
}

#donation-wrapper .description {
    margin-top: 30px;
    margin-bottom: 30px;
}

#donation-wrapper #wechat.active {
    background-color: #44b549;
}

#donation-wrapper #alipay.active {
    background-color: #059AE3;
}

#donation-wrapper #donation-qrcode img {
    max-width: 300px;
    margin: 20px auto;
}

#triggers-wrapper .buttons .button {
    border-radius: 0!important;
    background-color: #000!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

#theme tr {
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

#theme td {
    padding: .5em;
}

.today .solar {
    color: #cccccc;
    font-size: 1.5em;
}

.today .lunar {
    color: #000;
    font-size: 1.8em;
}

.uu {
    text-align: start;
    writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    _writing-mode: tb-rl;
}

.poetry-title {
    float: right;
}

.poetry-title .title {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 2.5em;
    display: inline-block;
    text-decoration: underline;
    min-height: 200px;
    text-align: center;
    font-weight: 310;
}

.poetry-title .author {
    background-image: url(images/yz.png);
    border-radius: 40%;
    background-position: 200 320;
    opacity: 0.9;
    padding: 1em .5em;
    font-size: 1.5em;
    color: #cccccc;
    display: inline-block;
}

.poetry-content {
    height: 300px;
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: 5px;
    font-weight: 300;
}

#pcontent {
    white-space: pre;
}

.calendar-wrapper {
    padding-left: 1em;
    padding-right: 1em;
}

.calendar-wrapper .column .solar {
    font-size: 2em;
    font-weight: bold;
}

.calendar-wrapper .active {
    color: #FF8C31;
}

.calendar-wrapper .column {
    text-align: center;
    padding: 1em;
    border-top: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

.calendar-wrapper .column:first-child {
    border-left: 1px dashed #ccc;
}

/* Full */
@media only screen and (min-width: 1200px) {
    #main {
        width: 45%;
    }
}

/* iPad */
@media only screen and (max-width: 991px) and (min-width: 768px) {

}

/* iPad Pro */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .poetry-content {
        font-size: 2em;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    body {
        height: 100%;
    }

    #main {
        width: 100%;
        background-size: 510px 100%;
        margin-top: 14px!important;
        margin-left: 14px!important;
        margin-right: 14px!important;
    }

    #main .today {
        margin-top: 30px;
    }

    .today .solar {
        font-size: .8em;
    }
    
    .today .lunar {
        font-size: 1em;
    }

    .poetry-title .title {
        font-size: 1em;
        min-height: 120px;
    }
    
    .poetry-title .author {
        font-size: 0.8em;
        background-position: 200 220;
    }
    
    .poetry-content {
        font-size: .8em;
        line-height: 1.5em;
        letter-spacing: 5px;
    }

    .calendar-wrapper .column .solar {
        font-size: .8em;
    }

    .calendar-wrapper .column .lunar {
        font-size: .8em;
    }

    .calendar-wrapper .column {
        padding: 1em .5em!important;
    }

    #donation-wrapper #donation-qrcode img {
        height: 300px;
        max-width: 200px;
    }
}  


@media print {
    #main .inner #inner-top {
        display: none;
    }
}
