body {
    margin: 0;
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px!important;
    height: 2px!important;
}

#main {
    height: 100%;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
}

#main .container {
    height: 100%;
    width: 100%;
    /*
    position: absolute;
    height: 80%;
    width: 90%;
    margin: auto; 
    left: 0; right: 0; top: 0; bottom: 0;
    */
}

#main #grid {
    height: 100%;
}


#main #grid .zuo, #main #grid .you {
    height: 100%;
    padding: 0em;
}

#main .zuo .cover {
    height: 80%;
    width: 80%;
    background-size: cover;
    background-position: center center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#main .you .you-wrapper {
    height: 80%;
    width: 80%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #eee;
}

#main .zuo .cover .intro {
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 2em;
    right: 0em;
}

#main .zuo .cover .inner {
    background: rgba(0, 0, 0, 0.3686274509803922);
    color: #fff;
    width: auto;
    line-height: 40px;
    padding: 0em;
    display: inline-block;
    font-size: 12px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#main .zuo .cover .intro .inner a, .footer a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

#main .zuo .cover .intro .inner a:hover, .footer a:hover {
    color: #fdf1db;
}

#main .zuo .intro .left ,#main .zuo .intro .right, #main .zuo .intro .middle{
    display: inline-block;    
    color: #fff;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
}

#main .zuo .intro .middle {
    padding: 0 1em;
}

#main .zuo .intro .left {
    width: 40px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

#main .zuo .intro .right {
    width: 40px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


/* main you */
#main .you {
    background: rgba(255, 255, 255, 0.45);
}

#main .you .top {
    height: 60px;
    margin: 0;
}

#main .you .top .column {
    padding: 0;
}

#main .you .middle {
    height: calc(100% - (60px + 108px));
}


#main .you .top .today {
    height: 60px;
    text-align: right;
    line-height: 60px;
    font-size: 2em;
    font-weight: 400;
    padding-right: 16px;
    color: #333;
    opacity: .8;
}

#main .you .top .yang {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 2em;
    font-weight: 300;
    padding-left: 16px;
    color:#488b8f;
}

#main .calendar {
    height: auto;
    padding: 14px;
}

#main .footer {
    background: #333;
    color: #fff;
    display: none;
    padding: 1.2em 0em;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

#main .menu {
    height: 80px;
    background: rgba(0, 0, 0, 0);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    margin: 0;
}

#main .menu .item:first-child {
    width: calc(14.285% - 2px);
    border-left: 1px dashed #eee
}

#main .menu .item:end-child {
    width: calc(14.285% - 2px);
}

#main .menu .item {
    color: #333;
    border-radius: 0!important;
    cursor: pointer;
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
    border-right: 1px dashed #eee;
    width: calc(14.285% - 1px);
}

#main .menu .item:hover {
    background: rgba(172, 241, 63, 0.41);
}

#main .menu .active.item {
    background: rgba(172, 241, 63, 0.41);
}

#main .menu .yang {
    padding-top: 10px;
    font-size: 24px;
    color: #071e3d;
}

#main .menu .yin {
    padding-bottom: 8px;
    font-size: 12px;
    color: #ff5959;
}

#main .menu .active .yang {
    color: #f05d23;
}


#main .middle {
}

#main #pcontent-wrapper {
    padding: 28px 16px;
    height: calc(100% - 116px);
    overflow: auto;
}

#main .middle .meta {
    margin: 0;
    font-size: 1.315em;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 5px;
}

#main .middle .title {
    background: #ef5a5a;
    padding: 1em;
    color: #fff;
    white-space:nowrap;text-overflow:ellipsis;
}

#main .middle .author {
    padding: 1em;
    background: #709078;
    color: #fff;
    text-align: right;
    white-space:nowrap;text-overflow:ellipsis;
}


#main .middle .poetry-content p {
    color: #333;
    font-size: 1.315em;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 5px;
}

/* mobile */

@media only screen and (max-width: 767px) {
    #grid>.column {
        padding: 0!important;
    }
    #main .zuo .cover {
        height: 100%;
        width: 100%;
    }
    #main #grid .zuo {
        height: 300px;
    }

    #main #grid .you {
        height: auto!important;
    }

    #main #grid .you-wrapper {
        position: static; 
        height: auto;
        width: 100%;
        border: 0;
    }

    #main .you .middle {
        height: auto;
    }

    #main #grid {
        height: auto;
    }

    #main #pcontent {
        min-height: 200px;
        font-size: 16px;
    }

    #main #pcontent p {
        font-size: 16px;
    }

    #main .middle .title {
        padding: 8px 16px;
        font-size: 16px;
    }

    #main .middle .author {
        padding: 8px 16px;
        font-size: 16px;
    }

    #main .you .top .yang {
        font-size: 20px;
    }

    #main .you .top .today {
        font-size: 20px;
    }

    #main .menu {
        height: auto;
    }

    #main .footer {
        display: block;
    }

    #main .calendar {
        padding: 1px;
    }

    #main .menu .item:first-child {
        border-left: 0;
        width: calc(14.285% - 1px);
    }

    #main .menu .item:end-child {
        border-right: 0;
        width: calc(14.285% - 1px);
    }
}

/* print */
@media print {
    #grid {
        height: 100%;
    }
    #grid>.column {
        width: 100%;
    }
    #main .zuo .cover {
        height: 100%;
        width: 100%;
    }
    #main #grid .zuo {
        height: 45%;
    }

    #main #grid .you {
        height: 55%;
    }

    #main #grid .you-wrapper {
        height: auto;
        width: 100%;
    }

    #main .you .middle {
        height: auto;
    }

    #main #pcontent {
        min-height: 200px;
        font-size: 16px;
    }

    #main #pcontent p {
        font-size: 16px;
    }

    #main .middle .title {
        padding: 8px 16px;
        font-size: 16px;
    }

    #main .middle .author {
        padding: 8px 16px;
        font-size: 16px;
    }

    #main .you .top .yang {
        font-size: 20px;
    }

    #main .you .top .today {
        font-size: 20px;
    }
}
