/* 野径云俱黑 */
.hei {
    background-color: #000!important;
}

.hei #main {
    background-color: #546b83!important;
}

.hei #main .inner {
    border: 0!important;
}

.hei #main .inner {
    border: 0!important;
}

/* 水墨逢丹青 */
.mo, .mo .topwrapper {
    background-color: #585756!important;
}

.mo #main {
    background-color: #fff!important;
}

.mo #main .inner {
    border: 0!important;
}

.mo #triggers-wrapper .buttons .button {
    background-color: #585756!important;
}

.mo #main #inner-top {
    background-color: #585756!important;
}

.mo #pcontent {
    color: #546b83;
}

.mo #ptitle {
    color: #bb1c33;
}

/* 绛紫沁素白 */
.jiangzi, .jiangzi .topwrapper {
    background-color: #704d4e!important;
}

.jiangzi #main {
    background-color: #fff!important;
}

.jiangzi #main .inner {
    border: 0!important;
}

.jiangzi #triggers-wrapper .buttons .button {
    background-color: #704d4e!important;
}

.jiangzi #main #inner-top {
    background-color: #704d4e!important;
}

/* 深胭红枯绿 */
.shenyanhong, .shenyanhong .topwrapper {
    background-color: #643441!important;
}

.shenyanhong #main {
    background-color: #fff!important;
}

.shenyanhong #pcontent {
    color: #b7b278;
}

.shenyanhong #main {
    background-color: #fff!important;
}

.shenyanhong #main .inner {
    border: 0!important;
}

.shenyanhong #triggers-wrapper .buttons .button {
    background-color: #643441!important;
}

.shenyanhong #main #inner-top {
    background-color: #643441!important;
}
/* 西窗透蜡白 */
.labai, .labai .topwrapper {
    background-color: #e7e5d0!important;
    color: #643441;
}

.labai #main .inner {
    border: 1px solid #e7e5d0!important;
}

.labai #main {
    background-color: #fff!important;
}


.labai #pcontent {
    color: #643441;
}

.labai #triggers-wrapper .buttons .button {
    background-color: #643441!important;
}

.labai #main #inner-top {
    background-color: #643441!important;
}

/* 橘红蘸溪湿 */
.jiehong, .jiehong .topwrapper {
    background-color: #e7693f!important;
    color: #643441;
}

.jiehong #main {
    background-color: #fff!important;
}

.jiehong #main .inner {
    border: 1px solid #e7693f!important;
}

.jiehong #triggers-wrapper .buttons .button {
    background-color: #643441!important;
}

.jiehong #triggers-wrapper .buttons .button {
    color: #e7693f!important;
}

.jiehong #main #inner-top {
    background-color: #643441!important;
}

/* 红烛昏罗帐 */
.hongzhu, .hongzhu .topwrapper {
    background-color: #bb1c33!important;
    color: #e7e5d0;
}

.hongzhu #main {
    background-color: #fff!important;
}

.hongzhu #main .inner {
    border: 1px solid #bb1c33!important;
}

.hongzhu #triggers-wrapper .buttons .button {
    background-color: #000!important;
}

.hongzhu #triggers-wrapper .buttons .button {
    color: #e9db39!important;
}

.hongzhu #main #inner-top {
    background-color: #000!important;
}

.hongzhu .poetry-title .title {
    color: #643441!important;
}

.hongzhu #pcontent {
    color: #643441;
}

.hongzhu .today .lunar {
    color: #e7e5d0!important;
}
